 <!DOCTYPE html>
<head>
     <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
 </head>
 <body>
<h1 align="center"> <font size="7" color="Blue">Data Support</font></h1>
<hr/>
<h2 align="center">O seu gerenciador de documentos!</h2>

<h1>Efetue seu Cadastro</h1>
<form>
    <div>
        <label > <font size="4"> Nome de usuario: </font> </label><br />
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label> <font size="4"> Senha:</font></label><br />
        <input align="center" type="password" name="mail" id="mail">
    </div>
    <div>
        <label> <font size="4"> Confime a senha: </font> </label><br />
        <input type="password" name="senha" id="senha">
    </div>
    <div>
        <input type="submit" value="Cadastrar" >
    </div>
</form>